<div class="avatar" style=" position:fixed;left:20px;bottom: 20px; width: 100px;">
    <app-view></app-view>
</div>
<div class="container d-flex justify-content-center mt-2 mb-2">
    <div class="row g-3">
        <div class="py-1 text-center">
            <img class="d-block mx-auto mb-4 animate__animated animate__bounceInLeft"
                src="http://44.241.185.89/DemoGuandy/assets/IMG/introStatic.svg" alt="" width="72" height="57">
        </div>
        <div class="col-md-12"> <span>Summary</span>
            <div class="card">
                <div class="d-flex justify-content-between p-3">
                    <div class="d-flex flex-column"> <span>Pro(Billed Monthly) <i class="fa fa-caret-down"></i></span>
                        <a href="#" class="billing">Save 20% with annual billing</a> </div>
                    <div class="mt-1"> <sup class="super-price">$9.99</sup> <span class="super-month">/Month</span>
                    </div>
                </div>
                <hr class="mt-0 line">
                <div class="p-3">
                    <div class="d-flex justify-content-between mb-2"> <span>Refferal Bonouses</span> <span>-$2.00</span>
                    </div>
                    <div class="d-flex justify-content-between"> <span>Vat <i class="fa fa-clock-o"></i></span>
                        <span>-20%</span> </div>
                </div>
                <hr class="mt-0 line">
                <div class="p-3 d-flex justify-content-between">
                    <div class="d-flex flex-column"> <span>Today you pay(US Dollars)</span> <small>After 30 days
                            $9.59</small> </div> <span>$0</span>
                </div>
                <div class="p-3"> <button class="btn btn-primary btn-block free-button">Try it free for 30 days</button>
                    <div class="text-center"> <a href="#">Have a promo code?</a> </div>
                </div>
            </div>
        </div>
    </div>
</div>