
    <div class="avatar" style=" position:fixed;left:20px;bottom: 20px; width: 100px;">
        <app-view></app-view>
    </div>
<div class="row px-5">
    <div class="col-sm-12 col-md-4">
        <h1 style="font-weight: bolder;" class="animate__animated animate__backInLeft">¡Bienvenido a esta demo dinámica!</h1>
    </div>
    <div class="col-sm-12 col-md-8 text-center">    
        <img  src="http://44.241.185.89/DemoGuandy/assets/IMG/hero-img.png" alt="" class="animate__animated animate__backInRight img-fluid" width="85%">
    </div>
</div>